In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/duochen/Python-DataScience/master/OtherDataSource/mastersheet.csv"
df = pd.read_csv(url)

In [3]:
df.head(10)

,Sex,Birthday,AgeTrafficked,YearTrafficked,OriginProvince,DestinationProvince
0,female,NaN,3d,2008,hebei,hebei
1,male,NaN,NaN,2008,hebei,hebei
2,male,20070301.0,1.75y,2008,hebei,hebei
3,male,NaN,1m,2008,yunan,hebei
4,male,NaN,7m,2008,hebei,hebei
5,female,NaN,15d,2008,hebei,shanxi
6,male,20080110.0,10d,2008,shanxi,shandong
7,male,NaN,10d,2008,shanxi,shandong
8,male,NaN,10d,2008,shanxi,shandong
9,male,NaN,20d,2008,shanxi,shandong

In [8]:
type(df.YearTrafficked)

pandas.core.series.Series

In [16]:
df1 = df[df.YearTrafficked == 2008][['YearTrafficked', 'OriginProvince']]
df1

     YearTrafficked OriginProvince
0              2008          hebei
1              2008          hebei
2              2008          hebei
3              2008          yunan
4              2008          hebei
5              2008          hebei
6              2008         shanxi
7              2008         shanxi
8              2008         shanxi
9              2008         shanxi
10             2008         shanxi
11             2008         shanxi
12             2008          yunan
13             2008        jiangsu
14             2008        jiangsu
15             2008          yunan
16             2008          yunan
17             2008       zhejiang
18             2008       zhejiang
19             2008       zhejiang
20             2008       zhejiang
21             2008          yunan
22             2008          yunan
23             2008        sichuan
24             2008        sichuan
25             2008        guizhou
26             2008          anhui
27             2008          hubei
28             2008         fujian
29             2008          henan
..              ...            ...
132            2008        guangxi
133            2008        guangxi
134            2008         shanxi
135            2008        sichuan
136            2008        sichuan
137            2008        guizhou
138            2008         fujian
139            2008       shandong
140            2008       shandong
141            2008       shandong
142            2008       shandong
143            2008       shandong
144            2008          yunan
145            2008          yunan
146            2008          yunan
147            2008          yunan
148            2008          henan
149            2008          henan
150            2008          henan
151            2008          yunan
152            2008          henan
153            2008          henan
154            2008        guangxi
155            2008        guangxi
156            2008        guangxi
157            2008          henan
158            2008          henan
159            2008        sichuan
160            2008        sichuan
161            2008          henan

[162 rows x 2 columns]

In [25]:
df1.groupby(['YearTrafficked', 'OriginProvince'])

In [20]:
df.groupby('YearTrafficked').count()

,Sex,Birthday,AgeTrafficked,OriginProvince,DestinationProvince
YearTrafficked,,,,,
2008,162,20,124,162,162
2009,244,40,202,245,245
2010,205,42,173,207,207
2011,231,48,180,232,232
2012,262,63,196,264,264
2013,290,113,258,291,291
2014,295,101,269,303,303
2015,206,65,151,210,210
2016,105,25,41,105,105
2017,58,3,4,58,58

In [31]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [34]:
df.shape

(2077, 6)

In [35]:
df_full = df.dropna(subset=['AgeTrafficked'])
df_full.shape

(1598, 6)

In [36]:
df_full.head(10)

,Sex,Birthday,AgeTrafficked,YearTrafficked,OriginProvince,DestinationProvince
0,female,NaN,3d,2008,hebei,hebei
2,male,20070301.0,1.75y,2008,hebei,hebei
3,male,NaN,1m,2008,yunan,hebei
4,male,NaN,7m,2008,hebei,hebei
5,female,NaN,15d,2008,hebei,shanxi
6,male,20080110.0,10d,2008,shanxi,shandong
7,male,NaN,10d,2008,shanxi,shandong
8,male,NaN,10d,2008,shanxi,shandong
9,male,NaN,20d,2008,shanxi,shandong
10,male,NaN,20d,2008,shanxi,shandong

In [62]:
series = df_full['AgeTrafficked']
type(series)

pandas.core.series.Series

In [92]:
def convert_to_days(s):
    for item in s:
        last_ch = item[-1]
        if (last_ch) == 'd':
            item = item[:-1]
            num_item = round(float(item))
            item = num_item
            # print(f"days: {num_item}")
        if (last_ch) == 'm':
            item = item[:-1]
            num_item = round(float(item) * 30)
            item = num_item
            # print(f"days: {num_item}")
        if (last_ch) == 'y':
            item = item[:-1]
            num_item = round(float(item) * 365)
            item = num_item
            # print(f"days: {num_item}")
            
    return s

In [93]:
new_series = convert_to_days(series)
df_full['NewAgeTrafficked']=new_series
df_full

ValueError: could not convert string to float: '7y-8'

In [89]:
df.shape

(2077, 6)

NameError: name 'new_series' is not defined